<div class="container">
  <h4>Config screen</h4>
</div>
<form>
  <fieldset>
    <legend>Car 1</legend>
    Time <input type="text" name="time"><br>
    <input type="checkbox" name="mon" value="" checked>Mon<br>
    <input type="checkbox" name="tue" value="" checked>Tue<br>
    <input type="checkbox" name="wed" value="" checked>Wed<br>
    <input type="checkbox" name="thu" value="" checked>Thu<br>
    <input type="checkbox" name="fri" value="" checked>Fri<br>
    <input type="checkbox" name="sat" value="">Sun<br>
    <input type="checkbox" name="sun" value="">Sat<br>
  </fieldset>
</form>
<br>
<form>
  <fieldset>
    <legend>Car 2</legend>
    Time <input type="text" name="time"><br>
    <input type="checkbox" name="mon" value="" checked>Mon<br>
    <input type="checkbox" name="tue" value="" checked>Tue<br>
    <input type="checkbox" name="wed" value="" checked>Wed<br>
    <input type="checkbox" name="thu" value="" checked>Thu<br>
    <input type="checkbox" name="fri" value="" checked>Fri<br>
    <input type="checkbox" name="sat" value="">Sun<br>
    <input type="checkbox" name="sun" value="">Sat<br>
  </fieldset>
</form>
