  <div class="container">
    <div ng-controller="HomeCtrl">
    <form action = "">
       <fieldset>
         <button type = "button"
                onclick = "updateCharts()">
          Charts
        </button>
        <button type = "button"
                onclick = "updateWeather()">
          Weather
        </button>
      </fieldset>
    </form>
    </div>
  </div>
<br/>
<div class="container">
   <aside>
     <table border="0">
       <tr ng-repeat="x in values">
	 <td bgcolor="lightgrey">{{x.name}}</td>
	 <td><b>{{x.value}}</b></td>
       </tr>
     </table>
   </aside>
   <div class="chartbox">
     <div id="chart1" style="width: 580px; height: 300px;"></div>
   </div>
   <div class="chartbox">
     <div id="chart2" style="width: 580px; height: 300px;"></div>
   </div>
   <div class="chartbox">
     <div id="chart4" style="width: 580px; height: 300px;"></div>
   </div>
  <!-- fieldset>
    <legend>logging</legend>
    <div id="output"></div>
  </fieldset -->
</div>
